.wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profile {
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(94, 88, 88, 0.733);
    margin-bottom: 20px;
}